@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #999;
    --tertiary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: 'Ubuntu', sans-serif;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    padding: 0 80px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 80px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

header nav ul li a:hover {
    border-bottom: #000 1px solid;
}

section {
    padding: 60px;
}

.hero {
    background-image: url("../assets/Images/pexels-gdtography-911738.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 40vh;
}

.titles {
    display: flex;
    height: 100px;
}

.titles h2 {
    display: inline-block;
    justify-content: right;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    direction: rtl;
    height: 100px;
    width: 190px;
    padding: 0 10px 0 80px;
    border-right: 2px #000 solid;
}

.content {
    font-size: 1.0em;
    font-family: 'Ubuntu', sans-serif;
    margin: auto 30px;
    display: flex;
}

.about .content img {
    display: flex;
    border-radius: 2%;
    width: auto;
    height: 150px;
    border: 2px #000 solid;
}

.about {
    display: flex;
}

.project {
    display: flex;
}

.project .project-title {
    display: flex;
    padding: 0 10px 0 80px;
    border-right: 2px #000 solid;
}

.run-buddy {
    display: flex;
}

.project .content .run-buddy a img {
    height: auto;
    width: 1000px;
}

/* .project .content .run-buddy a {
    background-color: aqua;
} */

.project img {
    position: relative;
    opacity: 0.7;
    /* filter: alpha(opacity=70) !important; */
    /* box-shadow: 0 0 0px #000000 !important; */
}

.bottom-left {
    position: absolute;
    bottom: -220px;
    font-size: 20px;
    background-color: gray;
    color: #000;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    left: 280px;
}

.project img:hover {
    opacity: 1;
    /* filter: alpha(opacity=70) !important; */
    /* box-shadow: 0 0 0px #000000 !important; */
}

.run-buddy p {
    display: flex;
}

.contact {
    display: flex;
}

.contact .contact-title {
    display: flex;
    padding: 0 10px 0 80px;
    border-right: 2px #000 solid;
}

.contact .contact-info {
    display: flex;
}

.contact .contact-info p {
    font-size: 1.0em;
    font-family: 'Ubuntu', sans-serif;
    margin: auto 30px;
    display: flex;
}

.contact .contact-info a {
    font-size: 1.0em;
    font-family: 'Ubuntu', sans-serif;
    margin: auto 30px;
    display: flex;
    text-decoration: none;
}

.contact .contact-info a:visited {
    text-decoration: none;
    color: #000;
}

.contact .contact-info a:hover {
    background-color: #000;
    color: #fff;
    border-radius: 15px;
}